# .gitignore
.idea/
# Python/Django
backend/env/
backend/wildlife_wisperer/.idea/
backend/wildlife_wisperer/blog_images/*
backend/db.sqlite3
backend/wildlife_wisperer/blog/__pycache__/
backend/wildlife_wisperer/wildlife_wisperer/__pycache__/

backend/*.log

# Node/React
frontend/wildlife_wisperers_frontend/node_modules/
frontend/wildlife_wisperers_frontend/build/
frontend/wildlife_wisperers_frontend/.eslintcache
frontend/wildlife_wisperers_frontend/.vscode/
frontend/wildlife_wisperers_frontend/.npm/
frontend/wildlife_wisperers_frontend/.yarn/
frontend/wildlife_wisperers_frontend/*.log
